@keyframes shine {
to {
    background-position: 200% center;
}
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.rainbow {
    color: transparent !important;

    animation: shine 12s linear infinite !important;

    background: linear-gradient(to right, #f47142 20%, #f4e241 40%, #f4e241 60%, #f47142 80%) !important;
    background-size: 200% auto !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}

.active {
    color: transparent !important;

    animation: shine 12s linear infinite !important;

    background: linear-gradient(to right, #f47142 20%, #f4e241 40%, #f4e241 60%, #f47142 80%) !important;
    background-size: 200% auto !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.84);
    box-sizing: border-box;
    z-index: 999;
}

header > .logo {
    height: 50px;
    line-height: 50px;
    float: left;
    padding-left: 10px;

    font-size: 20px;
    font-weight: 600;
}

header > nav {
    float: right;
    display: block;
}

header > nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header > nav > ul > li {
    list-style: none;
    cursor: pointer;
}

header > nav > ul > li > a {
    height: 50px;
    line-height: 50px;
    padding: 0;
    padding-right: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.black {
    background-color: black;
    color: white;
}
.white {
    background-color: white;
    color: black;
}

.grey {
    background-color: #f1f1f1;
    color: black;
}

.section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.dynamic-section {
    margin: 0;
    padding: 0;
    width: 100%;
}

.first {
    text-align: left;
    
    display:flex;
    align-items: center;
    justify-content: left;
}

.first > h1 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    padding-left: 5%;
}

.second {
    text-align: left;
    float: right;
}

.second > .title {
    font-size: 60px;
    padding-left: 50%;
    padding-top: 100px;
    width: 30%;
}

.second > p {
    padding-top: 25px;
    font-size: 20px;
    padding-left: 50%;
    padding-bottom: 50px;
    width: 30%;
}

.second > p > span {
    /* color: transparent !important;

    animation: shine 12s linear infinite !important;

    background: linear-gradient(to right, #f47142 20%, #f4e241 40%, #f4e241 60%, #f47142 80%) !important;
    background-size: 200% auto !important;
    background-clip: text !important;
    -webkit-background-clip: text !important; */
    color: #f47142;
    font-weight: 500;
}

.third > .subtitle {
    text-align: center;
    font-size: 60px;
    padding-top: 150px;
}

.third > .skillsHolder {
    text-align: center;
    max-width: 1075px;
    margin: 0 20px;
    padding-bottom: 50px;
}

.third > .skillsHolder > .row {
    margin: 0;
    display: inline-block;
    width: 100%;
}

.third > .skillsHolder > .row > .col {
    width: 100%;
    margin-bottom: 50px;
    list-style: none;
    overflow: hidden;
}

.third > .skillsHolder > .row > .col > .head {
    font-size: 1.5625rem;
    font-weight: 500;
    padding: 1.25rem 0;
}

/* .third > .skillsHolder > .row > .col > i {
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    height: 100px;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: auto;
} 

.third > .skillsHolder > .row > .col > i > img {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.third > .skillsHolder > .row > .col > i > img:after {
    content: '';
    position: absolute;
    right: 0;
    margin: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 30px;
    background: linear-gradient(to right, #00c2eb 20%, #00ff9c 40%, #00ff9c 60%, #00c2eb 80%);
}

.third > .skillsHolder > .row > .web > i > img {
    width: 65px;
} */

.third > .skillsHolder > .row > .col > ul {
    list-style-type: none;
    list-style: none;
    overflow: hidden;
}

.third > .skillsHolder > .row > .col > ul li {
    font-size: 17px;
    padding-bottom: 5px;
    list-style: none;
}

.fourth > .title {
    text-align: center;
    width: 100%;
    font-size: 60px;
    padding-top: 150px;
    padding-bottom: 75px;
}

.fourth > p {
    text-align: center;
    width: 50%;
    padding-left: 25%;
    font-size: 26px;
    padding-bottom: 150px;
}

.slideshow {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    width: 50%;
    margin: auto;
}

.slide > i > svg {
    width: 35px;
    padding-bottom: 25px;
}

.slide > h2 {
    font-size: 27px;
    font-weight: 700;
}

.slide > p {
    font-size: 20px;
}

@media (min-width: 768px) {
    .third > .skillsHolder {
        padding-top: 25px;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
    .third > .skillsHolder .row .col {
    float: left;
    padding-left: 65px;
    width: 50%;
    margin-bottom: 0;
    }
}
@media (min-width: 1000px) {
    .third > .skillsHolder .row .col {
    width: 25%;
    }
}

@media (max-width: 835px) {
    .second {
        text-align: center;
    }
    .second > p {
        padding-left: 10px;
        width: calc(100%-10px);
        text-align: center;
    }
    .second > .title {
        padding-left: 10px;
        width: calc(100%-10px);
        text-align: center;
        font-size: 40px;
    }
}

@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }
    header > nav {
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        background: rgba(0, 0, 0, 0.84);
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header > nav.dropactive {
        left: 0;
    }
    header > nav > ul {
        display: block;
        text-align: center;
    }
    header > nav > ul > li > a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu-toggle {
        display: block;
    }

    .section {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .first > h1 {
        padding: 0;
        margin: 0;
        font-weight: 700;
        font-size: 35px;
    }
}